{% extends "base.html" %}

{% block body %}
<h1>{{ object.version_from.text }}</h1>
<hr />
{{ object.statement }}
<hr />
{{ object.testxx }}
<form action="/item/{{ object.pk }}/answer/" method="POST">
    {% csrf_token %}
    <input type="text" name="answer" class="form-control" />
    <button class="btn btn-primary" type="submit">Soumettre</button>
</form>
{% endblock %}
