<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Lapsang</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<style type="text/css">
body {
	padding-top: 60px;
}
</style>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">Lapsang</a>
		<div class="nav-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/admin/">Admin</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$("[href='{{ request.path }}']").parents("li").addClass('active');
</script>
</body>    
</html>
