{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <h1>Lapsang</h1>
    <h2>Site de quiz de langues</h2>
    <a href="/about/" class="btn btn-default">En savoir plus</a>
    <a href="/item/1" class="btn btn-primary">Commencer le test</a>
</div>
{% endblock %}
